doctype
html
	head
		title= name
		link(rel="stylesheet", href="./index.css")
	body
		header
			a.logo(href="/")
				if logo
					img(src=logo)
				else
					= name

			div.basket.empty.closed
				a(href="#", alt="Basket") Basket
					span.count 0

				div.popup

		main
			block main

		footer
			p= footer
			p
				a(href="mailto:#{email}", alt="Contact us by email")= email

				| &nbsp;•&nbsp;

				a(href="/terms.html") Terms &amp; Conditions

			div.payment-methods
				img(src="/images/visa.svg", alt="Visa")
				img(src="/images/mastercard.svg", alt="MasterCard")

		script(src="https://sdk.paylike.io/2.js")
		script(src="./index.js")
