div.popup
	ul.lines
		li
			div.img
				img(src="/images/products/a.png")

			div.body
				h1 Fyn, Denmark

				div.quantity
					button.less -
					div
						input(type="text", class="quantity", value="1")
					button.more +

				p.amount DKK 1,899.00

	div.summary
		p.text Total
		p.amount DKK 1.899,00

	button.checkout Checkout
