extends ./partials/layout.jade

block main
	ul.products
		li
			div.img: img(src="/images/products/a.png")
			div.content
				div.text
					h1 Fyn, Denmark
					p.price EUR 1,899.00
					p.sku DK-F-L

				a.buy(href="#", alt="Buy product") Buy now

		li
			div.img: img(src="/images/products/a.png")
			div.content
				div.text
					h1 Fyn, Denmark
					p.price EUR 899.00
					p.sku DK-F-S

				a.buy(href="#", alt="Buy product") Buy now

		li
			div.img: img(src="/images/products/a.png")
			div.content
				div.text
					h1 Fyn, Denmark
					p.price EUR 1,899.00
					p.sku DK-F-D

				a.buy(href="#", alt="Buy product") Buy now

		li
			div.img: img(src="/images/products/a.png")
			div.content
				div.text
					h1 Fyn, Denmark
					p.price EUR 1,899.00
					p.sku DK-F-L

				a.buy(href="#", alt="Buy product") Buy now

		li
			div.img: img(src="/images/products/a.png")
			div.content
				div.text
					h1 Fyn, Denmark
					p.price EUR 1,899.00
					p.sku DK-F-N

				a.buy(href="#", alt="Buy product") Buy now
